<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../layouts/styles.ejs'); %>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    td{
      word-break: break-all;
    }
    .transactionHash {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .eventName {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1" style="width: fit-content;padding :0;">
        <%- include('./partials/sidebar')%>
      </div>
      <div class="col p-0 pt-3 bg-light" id="contentAdmin" style="height: 100vh;">
        <!-- main content -->
        <div class="px-3" >
          <div class="d-flex justify-content-between">
            <span class = "h4 fw-bold" style="color: #3D6395;">DASHBOARD</span>
            <button type="button" class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#createModal">
              Thêm mới
            </button>
          </div>
          <hr >
          <div class="row pb-2">
            <div class="col-4">
              <div class="card shadow h-100">
                <div class="card-header fw-bold" style="color: #3D6395;">
                  THỐNG KÊ TÀI KHOẢN
                </div>
                <div class="card-body">
                  <canvas id="accountChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="card shadow h-100">
                <div class="card-header fw-bold" style="color: #3D6395;">
                  GIAO DỊCH CỦA HỆ THỐNG
                </div>
                <div class="card-body">
                  <table class="table" id="transactionTable">
                    <thead>
                      <tr>
                        <th>transactionHash</th>
                        <th>block</th>
                        <th>event</th>
                        <th>time</th>
                        <th class="text-end"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%transactionList.forEach(function(row){%>
                        <tr>
                          <td class="transactionHash" title="<%= row.transactionHash %>"><%= row.transactionHash %> </td>
                          <td><%= row.blockNumber %> </td>
                          <td class="eventName"><%= row.event %> </td>
                          <td><%= row.timestamp %> </td>
                          <td><i class="fas fa-external-link-alt" transactionHash= "<%= row.transactionHash %>" eventName="<%= row.eventName %>"></i></td>
                        </tr>
                        
                      <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Chi tiết giao dịch</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <table id="transactionDetail" style="display: block">
              
            </table>
        </div>
      </div>
    </div>
  </div>
  <!-- script form vendor -->
  <%- include('../layouts/scripts.ejs'); %>
  <!-- Page's scripts -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const data = {
      labels: [ <% account_number.forEach(function(row) { %>
        '<%= row['account_type'] %>', 
      <% }) %> ],
      datasets: [{
        label: 'Số lượng tài khoản',
        data: [<% account_number.forEach(function(row) { %>
            <%= row['number'] %>, 
          <% }) %> ],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };
    const config = {
      type: 'doughnut',
      data: data,
    };
    const accountChart = new Chart(
      document.getElementById('accountChart'),
      config
    );
    let eventList = {};
    $(document).ready(function(){
      $("#transactionTable").DataTable({
        sort:false
      })
      $(document).on("click", ".fa-external-link-alt", async function(event){
        event.preventDefault;
        let eventName = $(this).attr("eventName"), transactionHash = $(this).attr("transactionHash");
        if (typeof eventList[transactionHash] == "undefined"){
          await $.ajax({
            url: "/admin/get-event-detail",
            method: "POST",
            data: {
              eventName,
              transactionHash
            },success: function(res){
              eventList[transactionHash] = res.event;
            }
          });
        }
        console.log(eventList[transactionHash])
        let html = "";
        for (const [key, value] of Object.entries(eventList[transactionHash])) {
          if (key == "returnValues" || key == "raw"){
            html += `<tr>
              <th><b>${key}: </b>   </th>
              <td>`;
            for (const [key1, value1] of Object.entries(value)) {
              if(isNaN(key1))
                html += `"<i>${key1}</i>":  "${value1}"<br />`;
            }
            html += `</td>
              </tr>`;
          }else {
            html += `<tr>
              <th><b>${key}: </b></th>
              <td>${value}</td> 
            </tr>`
          }
        }
        $("#transactionDetail").html(html);
        $("#editModal").modal("show")
      })
    })
  
  </script>
</body>

</html>