<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../layouts/styles.ejs'); %>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
   
    .transactionHash {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .eventName {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1" style="width: fit-content;padding :0;">
        <%- include('./partials/sidebar')%>
      </div>
      <div class="col p-0 pt-3 bg-light" id="contentAdmin" style="height: 100vh;">
        <!-- main content -->
        <div class="px-3" >
          <div class="d-flex justify-content-between">
            <span class = "h4 fw-bold" style="color: #3D6395;">DASHBOARD</span>
            <button type="button" class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#createModal">
              Thêm mới
            </button>
          </div>
          <hr >
          <div class="row pb-2">
            <div class="col-4">
              <div class="card shadow h-100">
                <div class="card-header fw-bold" style="color: #3D6395;">
                  THỐNG KÊ TÀI KHOẢN
                </div>
                <div class="card-body">
                  <canvas id="accountChart"></canvas>
                </div>
              </div>
              </div>
              <div class="col-8">
                <div class="card shadow h-100">
                  <div class="card-header fw-bold" style="color: #3D6395;">
                    GIAO DỊCH CỦA HỆ THỐNG
                  </div>
                  <div class="card-body">
                    <table class="table" id="transactionTable">
                      <thead>
                        <tr>
                          <th>transactionHash</th>
                          <th>block</th>
                          <th>event</th>
                          <th>time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%console.log(transactionList)%>
                        <%transactionList.forEach(function(row){%>
                          <tr>
                            <td class="transactionHash" title="<%= row.transactionHash %>"><%= row.transactionHash %> </td>
                            <td><%= row.blockNumber %> </td>
                            <td class="eventName"><%= row.event %> </td>
                            <td><%= row.timestamp %> </td>
                          </tr>
                          
                        <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- script form vendor -->
  <%- include('../layouts/scripts.ejs'); %>
  <!-- Page's scripts -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const data = {
      labels: [ <% account_number.forEach(function(row) { %>
        '<%= row['account_type'] %>', 
      <% }) %> ],
      datasets: [{
        label: 'Số lượng tài khoản',
        data: [<% account_number.forEach(function(row) { %>
            <%= row['number'] %>, 
          <% }) %> ],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    };
    const config = {
      type: 'doughnut',
      data: data,
    };
    const accountChart = new Chart(
      document.getElementById('accountChart'),
      config
    );

    $("#transactionTable").DataTable({
      sort:false
    })
  </script>
</body>

</html>