<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../../layouts/styles'); %>
</head>

<body>
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert') %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 border-end">
        <%- include('../partials/sidebar')%>
      </div>
      <div class="col-10 px-5">
        <div class="row mt-3">
          <div class="col">
            <span class='h5 mt-3'> Danh sách tên chứng chỉ - <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createCNModal"> <i class="fas fa-plus"></i> </button></span>
            <div class="card mt-3">
              <div class="card-body">
                <table class="table" id="table-certname">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">Tên chứng chỉ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% i=1; %>
                    <% name_list.forEach(function(elt){ %>
                      <tr>
                        <th scope="row"><%= i++; %></th>
                        <td><%= elt.cn_id; %></td>
                        <td><%= elt.cn_name; %></td>
                        <td style="width: 70px;">
                          <i class="fas fa-edit pe-2 u-cn" cn_id="<%= elt.cn_id; %>" cn_name="<%= elt.cn_name; %>" class="btn btn-warning btn-update" data-bs-toggle="modal" data-bs-target="#updateCNModal"></i>
                          <i class="fas fa-trash d-cn" id="<%= elt.cn_id; %>"></i>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <!-- Thêm mới -->
  <div class="modal fade" id="createCNModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createCNModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCNModalLabel">Thêm tên chứng chỉ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/school/cert/certname/create" method="POST">
          <div class="modal-body">
          <div class="mb-3 row">
            <select class="form-control" id="ck_id" name="ck_id" >
              <option value="" >Chọn loại chứng chỉ</option>
              <% kind_list.forEach(function(row){%>
                <option value="<%= row.ck_id %>" ><%= row.ck_name %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-3 row">
            <input type="text" class="form-control" id="cn_name" name="cn_name" placeholder="Nhập tên chứng chỉ"/>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Sửa -->
  <div class="modal fade" id="updateCNModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="updateCNModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCNModalLabel">Sửa tên chứng chỉ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/school/cert/certname/update" method="POST" >
          <div class="modal-body">
          <div class="mb-3 row">
            <input type="hidden" class="form-control" id="upd_cn_id" name="cn_id" value=""/>
            <input type="text" class="form-control" id="upd_cn_name" name="cn_name" value=""/>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../../layouts/scripts.ejs'); %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.u-cn').on('click',function(){
        $('#upd_cn_id').val($(this).attr('cn_id')) ;
        $('#upd_cn_name').val($(this).attr('cn_name')) ;
      })
      $('.d-cn').on('click',function(event){
        if (confirm("Bạn có chắc chắn xoá! Hành động này không thể hoàn tác.")){
          event.preventDefault;
          $.ajax({
            method:"POST",
            url:"/school/cert/certname/remove",
            data:{
              id: $(this).attr('id')
            },
            success: function(res){
              if (res.result == "redirect"){
                window.location.replace(res.url);
              }else {
              }
            }
          })
        }
      })
      $('#table-certname').DataTable({
        info:false,
        sort: false,
        lengthChange: false,
        length: 5
      })
    });
  </script>
</body>

</html>