<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../../layouts/styles'); %>
</head>

<body>
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert.ejs') %>
  <div class="container-fluid">
    <div class="row cols-row-2">
      <div class="col-1 border-end" style="width: auto;">
        <%- include('../partials/sidebar')%>
      </div>
      <div class="col px-5">
        <div class="row mt-3 ">
          <div class="col">
            <span class="h5 text-center">Danh sách loại chứng chỉ</span>
            <div class="card mt-3">
              <div class="card-body">
                <table class="table" id="table-certkind">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">Loại chứng chỉ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% i=1; %>
                    <% kind_list.forEach(function(elt){ %>
                      <tr>
                        <th scope="row"><%= i++; %></th>
                        <td><%= elt.ck_id; %></td>
                        <td><%= elt.ck_name; %></td>
                        <td style="width: 70px;">
                          <i class="fas fa-edit pe-2 u-ck" ck_id="<%= elt.ck_id; %>" ck_name="<%= elt.ck_name; %>" class="btn btn-warning btn-update" data-bs-toggle="modal" data-bs-target="#updateCKModal"></i>
                          <i class="fas fa-trash d-ck" id="<%= elt.ck_id; %>"></i>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-header bg-white">
                <span class="h6">Thêm mới loại chứng chỉ</span>
              </div>
              <div class="card-body">
                <div class="modal-body">
                  <div class="row">
                    <form action="/school/cert/certkind/create" method="POST">
                      <div class="input-group">
                        <input type="text" class="form-control"  id="ck_name" name="ck_name" placeholder="Tên loại chứng chỉ..." aria-describedby="button-addon2">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Thêm</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="updateCKModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="updateCKModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/school/cert/certkind/update" method="POST" >
            <div class="mb-3 row">
              <input type="hidden" class="form-control" id="upd_ck_id" name="ck_id" value=""/>
              <div class="input-group">
                <input type="text" class="form-control" id="upd_ck_name" name="ck_name" value=""/>
                <button type="submit" class="btn btn-outline-primary">Lưu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../../layouts/scripts.ejs'); %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#table-certkind").DataTable({
        lengthChange: false,
        length: 5,
        info: false,
      });
      $('.u-ck').on('click',function(){
        $('#upd_ck_id').val($(this).attr('ck_id'));
        $('#upd_ck_name').val($(this).attr('ck_name'));
      })

      $('.d-ck').on('click',function(event){
        if (confirm("Bạn có chắc chắn xoá! Hành động này không thể hoàn tác.")){
          event.preventDefault;
          $.ajax({
            method:"POST",
            url:"/school/cert/certkind/remove",
            data:{
              id: $(this).attr('id')
            },
            success: function(res){
              if (res.result == "redirect"){
                window.location.replace(res.url);
              }else {
              }
            }
          })
        }
      })
    });
  </script>
</body>

</html>