<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../layouts/styles'); %>

</head>

<body>
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert') %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%- include("../partials/sidebar.ejs"); %>
      </div>
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Số</th>
              <th scope="col">Tên</th>
              <th scope="col">Loại</th>
              <th scope="col">Người tạo</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Thời gian tạo</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <% i=1; %>
            <% certlist.forEach(function(cert){ %>
              <tr >
                <th scope="row"><%= i++; %></th>
                <td ><%= cert.number; %></td>
                <td >
                  <% namelist.forEach(function(name){ %>
                    <%= (name.cn_id == cert.cn_id)? name.cn_name:'' %>
                  <% }) %>
                </td>
                <td>
                  <% kindlist.forEach(function (kind){ %>
                    <%= (kind.ck_id == cert.ck_id)? kind.ck_name:'' %>
                  <% }) %>
                </td>
                <td><%=cert.issuer_id%></td>
                <td>
                  <% if (cert.status == 'Incorrect') {%>
                    <span class="text-danger fw-bold"><%= cert.status %></span>  
                  <% } else if (cert.status == 'checking') { %>
                    <span class="text-warning fw-bold"><%= cert.status %></span>  
                  <%} else  {%>
                    <span class="text-success fw-bold"><%= cert.status %></span>  
                  <% } %>
                </td> 
                
                <td><%= moment(cert.createTime).format('DD-MM-YYYY, h:mm:ss a'); %></td>
                <td>
                  <a class="btn btn-outline-primary" href="/school/cert/detail?number=<%= cert.number %>">Xem</a>
                  <% if (cert.status == 'checking') {%>
                    <a class="btn btn-warning" href="/school/cert/set-to-incorrect?number=<%= cert.number; %>">Sai</a>
                  <% } %>
                  <% if(cert.ipfs_hash == null){ %>
                    <a class="btn btn-primary" href="/school/cert/issue?number=<%= cert.number %>&student_email=<%= cert.student_email %>&certHash=<%= cert.hash %>">Cấp phát</a>
                  <% } %>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include('../../layouts/scripts.ejs'); %>
  
</body>

</html>