<div class="container-fluid shadow-sm" id="header" style="background-image: url('/imgs/header-background.jpg');background-size: 100% auto;">
  <header class="pt-3 pb-2 px-5">
    <a href="/" class="ps-2">
      <img src="/logo.png"/>
    </a>
  </header>
  <nav class="px-5">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between ">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 font-header">
        <li><a href="/tra-cuu" class="nav-link pe-4 link-<%= (page == "tra-cuu" )? "secondary":"dark" %>">Tra cứu chứng chỉ</a></li>
        <% if (typeof currentUser != "undefined" ) { %>
          <% if (currentUser.account_type == "user" ) { %>
            <li><a href="/user/danh-sach-chung-chi" class="nav-link pe-4 link-<%= (page == "danh-sach-chung-chi" )? "secondary":"dark" %>">Danh sách chứng chỉ</a></li>
            <li><a href="/user/thong-tin-ca-nhan" class="nav-link pe-4 link-<%= (page == "thong-tin-ca-nhan" )? "secondary":"dark" %>">Thông tin cá nhân</a></li>
            <li><a href="/user/doi-mat-khau" class="nav-link pe-4 link-<%= (page == "doi-mat-khau" )? "secondary":"dark" %>">Đổi mật khẩu</a></li>
          <% }else { %>
          <li><a href="/<%= currentUser.account_type %>" class="nav-link pe-4 link-<%= (page != "tra-cuu" )? "secondary":"dark" %>">Quản lý</a></li>
          <% } %>
        <% } %>
      </ul>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 font-header">
        <% if (typeof currentUser == 'undefined') {%>
          <li><a href="" class="nav-link pe-4 link-dark" data-bs-toggle="modal" data-bs-target="#loginModal">Đăng nhập</a></li>
          <li><a class="btn btn-primary" href="/signup"> Đăng ký </a></li>
        <% }else { %>
          <li style="display: inherit;" ><span class="mt-2">Xin chào, <%= currentUser.account_username %> / </span><a href="/logout" class="nav-link ps-1 link-secondary">Đăng xuất</a> </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/login" method="POST">
      <div class="modal-body">
          <div class="mb-3">
            <label for="username" class="form-label">Tên đăng nhập</label>
            <input type="text" autocomplete="username" class="form-control" name="username" />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Mật khẩu</label>
            <input type="password" autocomplete="current-password" class="form-control" name="password" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>