<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title + " - " + page; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../../layouts/styles.ejs'); %>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <%- include('../../partials/navbar.ejs') %>
  <%- include('../../../partials/alert.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 ps-0">
        <%- include('../../partials/sidebar.ejs'); %>
      </div>
      <div class="col-md-10">
        <!-- main content -->
        <h3 class = "pt-3">Danh sách học viên</h3>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
          Thêm mới
        </button>
        <hr >
        <div class="table-responsive">
          <table class="table">
            <caption>List of Schools</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Mã trường</th>
                <th scope="col">Tên trường</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Thông tin liên lạc</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% let i=1 ;%>
                <% school_list.forEach(function(school){ %>
                  <tr>
                    <th scope="row">
                      <%= i++; %>
                    </th>
                    <th scope="row">
                      <%= school.school_id %>
                    </th>
                    <th scope="row">
                      <%= school.school_code %>
                    </th>
                    <td>
                      <%= school.school_name %>
                    </td>
                    <td>
                      <%= school.school_placeAddress %>
                    </td>
                    <td>
                      <!-- Thong tin lien lac-->
                      <u>Phone:</u> <%= school.school_phoneNumber %> <br />
                      <u>Fax:</u> <%= school.school_fax %> <br />
                      <u>Email:</u> <%= school.school_email %> <br />
                      <u>Website:</u> <%= school.school_website %>
                    </td>
                    <td>
                      <%= moment(school.school_createTime).format('DD-MM-YYYY, h:mm:ss a'); %>
                    </td>
                    <td>
                      <%= moment(school.school_modifyTime).format('DD-MM-YYYY, h:mm:ss a'); %>
                    </td>
                    <td>
                      <!-- Action -->
                      <a href="/admin/school/update?id=<%= school.school_id %>" class="btn btn-warning">
                        <span data-feather="update">Sửa</span>
                      </a>
                      <a href="/admin/school/delete?id=<%= school.school_id %>" class="btn btn-danger">
                        <span data-feather="delete">Xóa</span>
                      </a>
                    </td>
                  </tr>
                  <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
<!-- Button trigger modal -->


<!-- Modal -->
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/admin/school/create" method="POST" name="frmCreate" id="frmCreate" novalidate="novalidate">
        <div class="modal-body">
            <input type="hidden" name="school_id" value="">
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_code">Mã trường</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="school_code" name="school_code" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_name">Tên trường</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="school_name" name="school_name" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_placeAddress">Địa chỉ</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="school_placeAddress" name="school_placeAddress" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_website">Website</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="school_website" name="school_website" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_email">Email</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="school_email" name="school_email" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_phoneNumber">Số điện thoại</label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="school_phoneNumber" name="school_phoneNumber" value="">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-2" for="school_fax">Fax</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="school_fax" name="school_fax" value="">
              </div> 
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary" name="btnSave">Thêm mới</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
  <!-- script form vendor -->
  <%- include('../../layouts/scripts.ejs'); %>
  <!-- Page's scripts -->
</body>

</html>