<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../../layouts/styles.ejs'); %>
  
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%- include('../../partials/sidebar.ejs'); %>
      </div>
      <div class="col-md-10">
        <!-- main content -->
        <h3 class = "pt-3">Chỉnh sửa thông tin trường - <%= school.school_id %></h3>
        <hr >
      <div class="col-10">
        <form action="/admin/school/update" method="POST" name="frmCreate" id="frmCreate" novalidate="novalidate">
          <input type="hidden" name="school_id" value="<%= school.school_id %>">
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_id">ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="school_id" value="<%= school.school_id %>" disabled readonly />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_code">Mã trường</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="school_code" name="school_code" value="<%= school.school_code %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_name">Tên trường</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="school_name" name="school_name" value="<%= school.school_name %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_placeAddress">Địa chỉ</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="school_placeAddress" name="school_placeAddress" value="<%= school.school_placeAddress %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_phoneNumber">Số điện thoại</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="school_phoneNumber" name="school_phoneNumber" value="<%= school.school_phoneNumber %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_email">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="school_email" name="school_email" value="<%= school.school_email %>">
            </div> 
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 fw-bold" for="school_fax">Fax</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="school_fax" name="school_fax" value="<%= school.school_fax %>">
            </div> 
          </div>
          <button class="btn btn-primary" name="btnSave">Cập nhật thông tin</button>
        </form>
      </div>
    </div>
  </div>

  <!-- script form vendor -->
  <%- include('../../layouts/scripts.ejs'); %>

    <!-- Page's scripts -->
    <script>
     $('#school_birth').datepicker(
      {
        showButtonPanel: true,   
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth:true,
        yearRange:"1950:"  
      }
    );
    </script>
</body>

</html>