<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../../layouts/styles') %>
</head>
<body>
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 border-end" id="sidebar" style=" width: fit-content; ">
        <%- include('../partials/sidebar')%>
      </div>
      <div class="col px-5  pt-3">
        <form id="frmUpdate" action="/issuer/cert/create" method="POST">
          <div class="mb-3 row">
            <label for="number" class="col-form-label col-sm-2">Số hiệu</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="number" name="number" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="ck_id" class="col-form-label col-sm-2">Loại</label>
            <div class="col-sm-10">
              <select class="form-select" type="text" id="ck_id" name="ck_id" >
                <% kindList.forEach(function(kind){ %>
                  <option value="<%= kind.ck_id%>" ><%= kind.ck_name %></option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="cn_id" class="col-form-label col-sm-2">Tên chứng chỉ</label>
            <div class="col-sm-10">
              <select class="form-select" type="text" id="cn_id" name="cn_id" >
                <% nameList.forEach(function(name){ %>
                  <option value="<%= name.cn_id%>" ><%= name.cn_name %></option>
                <% }) %>
              </select>
              </div>
            </div>
          <input type="hidden" id="certkind" name="cert_kind" />
          <input type="hidden" id="certname" name="cert_name" />
          <div class="mb-3 row">
            <label for="classification" class="col-form-label col-sm-2">Xếp loại</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="classification" name="classification" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="signday" class="col-form-label col-sm-2">Ngày ký</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="signday" name="signday" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="regno" class="col-form-label col-sm-2">Số vào sổ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="regno" name="regno" />
            </div>
          </div>
          <h6 class="ps-3 pb-2 border-start">THÔNG TIN NGƯỜI NHẬN CHƯNG CHỈ</h6>
          <div class="mb-3 row">
            <label for="user_name" class="col-form-label col-sm-2">Họ tên</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="user_name" name="user_name" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user_gender" class="col-form-label col-sm-2">Giới tính</label>
            <div class="col-sm-10">
            <select class="form-control" id="user_gender" name="user_gender" >
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user_dayofbirth" class="col-form-label col-sm-2">Ngày sinh</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="user_dayofbirth" name="user_dayofbirth" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user_idNumber" class="col-form-label col-sm-2">Số căn cước</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="user_idNumber" name="user_idNumber" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user_placeofbirth" class="col-form-label col-sm-2">Nơi sinh</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="user_placeofbirth" name="user_placeofbirth" />
            </div>
          </div>
          
          <button type="submit" id="submit" class="btn btn-primary">Tạo chứng chỉ</button>
        </form>
      </div>  
    </div>
  </div>
  <%- include('../../layouts/scripts') %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
  <script type="text/javascript">
    var temp = [];
    $(document).ready(function(){
      $("#user_dayofbirth, #signday" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        yearRange: "1960:2021",
      });
      $("#certname").val( $("#cn_id option:selected").text());
      $("#certkind").val( $("#ck_id option:selected").text());

      $("#cn_id").on('click', function(){
        $("#certname").val( $("#cn_id option:selected").text());
      })
      $("#ck_id").on('click', function(){
        $("#certkind").val( $("#ck_id option:selected").text());
      })
      var nameList=[];
      $("#ck_id").on('change' ,async function(event){
        event.preventDefault;
        var ck_id = $('#ck_id option:selected').attr('value');
        if (typeof nameList[ck_id] == 'undefined'){
          await $.ajax({
            type: 'POST',
            url: '/issuer/cert/get-certname',
            dataType: "json",
            data: {
              ck_id: ck_id,
            },
            success: function(res){
              nameList[ck_id]= res.nameList;
            }
          })
          var html= ``;
          nameList[ck_id].forEach(function(row){
            html+= `<option value="${row.cn_id}">${row.cn_name}</option>`
          })
          $('#cn_id').html(html);
        }
      })
      $("#number").on("focusout", async function (event) {
        console.log($(this).val())
        await $.ajax ({
          method: "POST",
          url:"/issuer/check-cert-number",
          data: {
            number: $(this).val()
          },success: function(res){
            console.log(res)
            if (res.result){
              alert("Số hiệu đã tồn tại!");
              $("#submit").attr("disabled",true)
            }else {
              $("#submit").attr("disabled",false)
            }
          }
        })
      })
      $("#regno").on("focusout", async function (event) {
        console.log($(this).val())
        await $.ajax ({
          method: "POST",
          url:"/issuer/check-cert-regno",
          data: {
            number: $(this).val()
          },success: function(res){
            console.log(res)
            if (res.result){
              alert("Số vào sổ đã tồn tại!");
              $("#submit").attr("disabled",true)
            }else {
              $("#submit").attr("disabled",false)
            }
          }
        })
      })
    })
  </script>
</body>
</html>