<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../../layouts/styles') %>
</head>
<body >
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 border-end" id="sidebar" style="width: fit-content;">
        <%- include('../partials/sidebar')%>
      </div>
      <div class="col px-5 pt-3">
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <select class="form-control" name="cert_kind" id="cert_kind">
              <option value=""></option>
              <% kindlist.forEach(function(kind){%>
                <option value="<%= kind.ck_id%>"><%= kind.ck_name%></option>
              <%}) %>
            </select>
          </div>
          <div class="col-md-6">
            <select class="form-control" name="cert_name" id="cert_name">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="file" class= "form-control" id="fileUpload" />
          <button id="upload" value="Upload" class="btn btn-secondary">Đọc file</button>
        </div>
        <button type="submit" class="btn btn-primary" id="submit" disabled>Lưu chứng chỉ</button> <span id="notice"></span>
        <hr />
        
        <div class="table-responsive d-none" id="table-div">
          <h4 class="pb-3 border-bottom">Danh sách chứng chỉ</h4>
          <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Số hiệu</th>
                <th scope="col">Số vào sổ</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Nơi sinh</th>
                <th scope="col">Số CCCD/CMND</th>
                <th scope="col">Xếp loại</th>
                <th scope="col">Ngày ký</th>
              </tr>
            </thead>
            <tbody id="cert_info">

            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>
  <%- include('../../layouts/scripts') %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      //Submit
      $('#submit').on('click', function(event){
        if ($('#cert_name option:selected').attr('value') == ''){
          alert('Vui lòng chọn tên chứng chỉ!');
        }else if(temp.length == 0) {
          alert('Vui lòng tải tập tin chứng chỉ!');
        }else {
          event.preventDefault();
          $.ajax({
            type: 'POST',
            url: '/issuer/cert/create-by-excel',
            dataType: "json",
            data: {
              cert_name: $('#cert_name option:selected').text(),
              cert_kind: $('#cert_kind option:selected').text(),
              ck_id: $('#cert_kind option:selected').attr('value'),
              cn_id: $('#cert_name option:selected').attr('value'),
              cert_list: JSON.stringify(temp)
            },
            success: function(response) {
              if (response.result == 'redirect') {
                //redirecting to main page from here.
                window.location.replace(response.url+"?status="+response.status);
              }
            }
          })
        }
      })
      var nameList=[];
      $("#cert_kind").on('change' ,async function(event){
        event.preventDefault;
        var ck_id = $('#cert_kind option:selected').attr('value');
        if (typeof nameList[ck_id] == 'undefined'){
          await $.ajax({
            type: 'POST',
            url: '/issuer/cert/get-certname',
            dataType: "json",
            data: {
              ck_id: ck_id,
            },
            success: function(res){
              nameList[ck_id]= res.nameList;
            }
          })
        }
        var html= ``;
        nameList[ck_id].forEach(function(row){
          html+= `<option value="${row.cn_id}">${row.cn_name}</option>`
        })
        $('#cert_name').html(html);
      })
      //  Xử lý file excel
      $("#upload").on("click", async function (event) {
        var fileUpload = $("#fileUpload")[0];
        //Validate whether File is valid Excel file.
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
          if (typeof (FileReader) != "undefined") {
            var reader = new FileReader();
            //For Browsers other than IE.
            if (reader.readAsBinaryString) {
              reader.onload = async function (e) {
                await ProcessExcel(e.target.result);
                CheckExcel(event)
              };
              reader.readAsBinaryString(fileUpload.files[0]);
            } else {
              //For IE Browser.
              reader.onload = async function (e) {
                var data = "";
                var bytes = new Uint8Array(e.target.result);
                for (var i = 0; i < bytes.byteLength; i++) {
                    data += String.fromCharCode(bytes[i]);
                }
                await ProcessExcel(data);
                CheckExcel(event)
              };
              reader.readAsArrayBuffer(fileUpload.files[0]);
            }
          } else {
            alert("This browser does not support HTML5.");
          }
        } else {
          alert("Please upload a valid Excel file.");
        }
      });
      // Read excel to table
      function ProcessExcel(data) {
        //Xoá dữ liệu cũ
        temp = [];
        $('#cert_info').text('');
        var workbook = XLSX.read(data, {
            type: 'binary'
        });
        var firstSheet = workbook.SheetNames[0];
        temp = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
        var i =1;
        temp.forEach(function(row){
          var temp_tr = `<tr>
            <th scopee="row">${i++}</th>`;
            let row_data = {
              number: row.number,
              regno: row.regno,
              user_name: row.user_name,
              user_gender: row.user_gender,
              user_dayofbirth: row.user_dayofbirth,
              user_placeofbirth: row.user_placeofbirth,
              user_idNumber: row.user_idNumber,
              classification: row.classification,
              signday: row.signday,
            }
          for(const [key, value] of Object.entries(row_data)){
            temp_tr += `<td class="${key}-${value} ` 
            if (value == "" || value== undefined){
              temp_tr += `text-danger" data-bs-toggle="tooltip" data-bs-placement="Top" data-bs-original-title="Dữ liệu không được rỗng"><i class="fas fa-times"></i></td>`;
            }else {
              if (key == 'user_gender'){
                if (!(value === 'Nam' || value === 'Nữ')){
                  temp_tr += `text-danger" data-bs-toggle="tooltip" data-bs-placement="Top" data-bs-original-title="'Nam'/'Nữ'">${value}<i class="fas fa-times"></i></td>`;
                }
              }else if(key=="user_idNumber"){
                if (value.length != 9 && value.length != 12){
                  temp_tr += `text-danger" data-bs-toggle="tooltip" data-bs-placement="Top" data-bs-original-title="Số CCCD/CMND phải có 9 hoặc 12 số!">${value}<i class="fas fa-times"></i></td>`;
                }
              }else if (key=="user_dayofbirth" || key == "signday" ){
                if ( moment(value,'DD-MM-YYYY').format() == "Invalid date" || moment(value,'DD-MM-YYYY').format() > moment().format()){
                  temp_tr += `text-danger" data-bs-toggle="tooltip" data-bs-placement="Top" data-bs-original-title="Ngày không hợp lệ!">${value}<i class="fas fa-times"></i></td>`;
                }
              }
              temp_tr += `" >${value}</td>`;
            }
          }
          temp_tr += '</tr>';
          $('#cert_info').append(temp_tr);
          $('#table-div').removeClass('d-none');
        })
      };
      async function CheckExcel(event ){
        // Kiểm tra file;
        event.preventDefault;
        var numberList = [], regnoList = [];
        temp.forEach((row)=>{
          numberList.push(row['number'])
          regnoList.push(row['regno'])
        })
        console.log("checking")
        await $.ajax({
          method:'post',
          url:'/issuer/check-cert-info',
          dataType: "json",
          data: {data: JSON.stringify({numberList,regnoList})},
          success: function(res){
            let data = res;
            data.forEach((row)=> {
              for (const [key, value] of Object.entries(row)){
                console.log(`#${key}-${value}`)
                $(`.${key}-${value}`).addClass('text-danger').append('<i class="fas fa-times"></i>').attr({"data-bs-toggle":"tooltip","data-bs-placement":"Top","title":`${(key=='number')? '"Số hiệu" đã tồn tại':'"Số vào sổ" đã tồn tại' }`});
              }
            })
            numberList.forEach(function(number){
              var i=0;
              $(`.number-${number}`).each(function(){i++}) 
              console.log(i)
              if (i > 1){
                $(`.number-${number}`).addClass('text-danger').html(`${number}<i class="fas fa-times"></i>`).attr({"data-bs-toggle":"tooltip","data-bs-placement":"Top","title":`Số chứng chỉ bị trùng`});
              };
            })
            regnoList.forEach(function(regno){
              var i=0;
              $(`.regno-${regno}`).each(function(){i++}) 
              console.log(i)
              if (i > 1){
                $(`.regno-${regno}`).addClass('text-danger').html(`${regno}<i class="fas fa-times"></i>`).attr({"data-bs-toggle":"tooltip","data-bs-placement":"Top","title":`Số vào sổ bị trùng`});
              };
            })
            var times = $('.fa-times');
            if (times.length > 0){
              $('#submit').prop('disabled',true)
              $("#notice").html(`<span class="text-danger">* Vui lòng kiểm tra và tải lại thông tin văn bằng, chứng chỉ từ excel!</span>`);
            }else {
              $('#submit').prop('disabled',false)
              $("#notice").html(``);
            }
            $('[data-bs-toggle="tooltip"]').tooltip();
          }
        })
      }
    })
  </script>
</body>
</html>