<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../../layouts/styles') %>
  <style>
    .fa-external-link-alt:hover {
      cursor: pointer;
      color: #0d6efd;
    }
    .fa-trash:hover {
      cursor: pointer;
      color: #dc3545;
    }
  </style>
</head>
<body>
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert') %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%- include('../partials/sidebar') %>
      </div>
      <div class="col"> 
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Số</th>
                <th scope="col">Số vào sổ</th>
                <th scope="col">Tên</th>
                <th scope="col">Trạng Thái</th>
                <th scope="col">Ngày nhập</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% var i=0 %>
              <% cert_list.forEach(function(row){%>
                <tr>
                  <th scope="row"><%= i++; %></th>
                  <td><%= row.number %></td>
                  <td><%= row.regno %></td>
                  <td><%= row.cn_name %></td>
                  <td>
                    <% if (row.status == 'Incorrect') {%>
                      <span class="text-danger fw-bold"><%= row.status %></span>  
                    <% } else if (row.status == 'checking') { %>
                      <span class="text-warning fw-bold"><%= row.status %></span>  
                    <%} else  {%>
                      <span class="text-success fw-bold"><%= row.status %></span>  
                    <% } %>
                  </td> 
                  <td class="date-format"><%= row.createTime %></td>
                  <td>
                    <i class="fas fa-external-link-alt btn-detail pe-2" number="<%=row.number%>"></i>
                    <% if(row.ipfs_hash == null){ %>
                      <i class="fas fa-trash btn-delete" number="<%=row.number%>"></i>
                    <% } %>
                  </td>
                </tr>
              <%}) %>
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>

  <!-- Modal -->
  <%- include("../../partials/cert-detail") %>
  

  <%- include('../../layouts/scripts') %>
  <script type="text/javascript">
    var cert_info= [];
    $(document).ready(function(){
      $('.date-format').each(function(){
        $(this).text(moment($(this).text()).format("DD-MM-YYYY, h:mm:ss a")) 
      }) 
      $('.btn-detail').on('click', async function(event){
        let number= $(this).attr('number');
        if (cert_info[number] == undefined){
          event.preventDefault;
          await $.ajax({
            method:"POST",
            url:"/issuer/cert/detail",
            data:{
              number: number
            },
            success: function(res){
              cert_info[number] = res.cert_info;
            }
          })
        }
        for (const [key, value] of Object.entries(cert_info[number])) {
          $(`#${key}`).text(value);
        }
        $("#certDetailModal").modal("show")

      })
      $('.btn-delete').on('click',function(event){
        if (confirm("Bạn có chắc chắn xoá! Hành động này không thể hoàn tác.")){
          event.preventDefault;
          $.ajax({
            method:"POST",
            url:"/issuer/cert/delete",
            data:{
              number: $(this).attr('number')
            },
            success: function(res){
              if (res.result == "redirect"){
                window.location.replace(res.url);
              }else {
              }
            }
          })
        }
      })
    })
  </script>
</body>
</html>