<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../../layouts/styles') %>
</head>
<body>
  <%- include('../../partials/header') %>
  <%- include('../../partials/alert') %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%- include('../partials/sidebar') %>
      </div>
      <div class="col"> 
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Số chứng chỉ</th>
                <th scope="col">Tên</th>
                <th scope="col">Loại</th>
                <th scope="col">Trạng Thái</th>
                <th scope="col">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% var i=0 %>
              <% cert_list.forEach(function(row){%>
                <tr>
                  <th scope="row"><%= i++; %></th>
                  <td><%= row.number %></td>
                  <td><%= row.cn_name %></td>
                  <td><%= row.ck_name %></td>
                  <td>
                    <% if (row.status == 'Incorrect') {%>
                      <span class="text-danger fw-bold"><%= row.status %></span>  
                    <% } else if (row.status == 'checking') { %>
                      <span class="text-warning fw-bold"><%= row.status %></span>  
                    <%} else  {%>
                      <span class="text-success fw-bold"><%= row.status %></span>  
                    <% } %>
                  </td> 
                  <td>
                    <% if(row.ipfs_hash == null){ %>
                      <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn xoá? Hành động không thể hoàn tác!!')" href="/issuer/cert/delete?number=<%=row.number%>">Xoá</a>
                      <a class="btn btn-warning" href="/issuer/cert/update?number=<%=row.number%>">Sửa</a>
                    <% } %>
                    <a class="btn btn-primary" href="/issuer/cert/detail?number=<%=row.number%>">Chi tiết</a>
                  </td>
                </tr>
              <%}) %>
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>

  <%- include('../../layouts/scripts') %>
  <script type="text/javascript">
  </script>
</body>
</html>