<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title + " - " + page; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../../layouts/styles.ejs'); %>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1" style="width: fit-content;padding :0;">
        <%- include('../partials/sidebar')%>
      </div>
      <div class="col p-0 pt-3 bg-light" id="contentAdmin" style="height: 100vh;">
        <!-- main content -->
        <div class="px-3" >
          <div class="d-flex justify-content-between">
            <span class = "h4 fw-bold" style="color: #3D6395;">QUẢN LÝ NGƯỜI DÙNG</span>
            <button type="button" class="btn btn-sm btn-info text-white" data-bs-toggle="modal" data-bs-target="#createModal">
              Thêm mới
            </button>
          </div>
          <hr >
          <div class="card shadow">
            <div class="card-body">
              <table class="table table-hover" id="userTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên sinh viên</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col" style="width: max-content;"></th>
                  </tr>
                </thead>
                <tbody>
                  <% let i=1 ;%>
                    <% user_list.forEach(function(user){ %>
                      <tr>
                        <th scope="row">
                          <%= i++; %>
                        </th>
                        <th id="u-user_id<%= i %>">
                          <%= user.user_id %>
                        </th>
                        <td id="u-user_name<%= i %>">
                          <%= user.user_name %>
                        </td>
                        <td id="u-user_gender<%= i %>">
                          <%= (user.user_gender == 1)? "Nam":"Nữ" %>
                        </td>
                        <td id="u-user_email<%= i %>">
                          <%= user.user_email %>
                        </td>
                        <td id="u-user_phoneNumber<%= i %>">
                          <%= user.user_phoneNumber %>
                        </td>
                        <td class="text-end">
                          <% if (!user.user_isAuth) { %>
                            <a href="/admin/user/auth?user_id=<%= user.user_id %>&user_idNumber=<%= user.user_idNumber %>" class="btn btn-primary" >Xác thực</a>
                          <%}%>
                          <i class="fas fa-external-link-alt pe-2" user_id="<%= user.user_id %>"></i>
                          <i class="fas fa-edit" user_id="<%= user.user_id %>"></i>
                        </td>
                      </tr>
                      <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal detail -->
  <div class="modal fade " id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailModalLabel">Chi tiết sinh viên</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="border-start border-3 ps-3">Chi tiết tài khoản</h5>
          <table class="table" >
            <tbody>
              <tr>
                <th scope="row" class="w-25">Địa chỉ</th>
                <td id="d-account_address"></td>
              </tr>
              <tr>
                <th scope="row">Tên đang nhập:</th>
                <td  id="d-account_username"></td>
              </tr>
              <tr>
                <th scope="row">Loại tài khoản:</th>
                <td  id="d-account_type"></td>
              </tr>
              <tr>
                <th scope="row">Trạng thái:</th>
                <td  id="d-account_status"></td>
              </tr>
            </tbody>
          </table>
          <h5 class="border-start border-3 ps-3">Thông tin sinh viên:</h5>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row" class="w-25">ID:</th>
                <td  id="d-user_id"></td>
              </tr>
              <tr>
                <th scope="row">Họ tên:</th>
                <td  id="d-user_name"></td>
              </tr>
              <tr>
                <th scope="row">Ngày sinh:</th>
                <td  id="d-user_birth"></td>
              </tr>
              <tr>
                <th scope="row">Số điện thoại:</th>
                <td  id="d-user_phoneNumber"></td>
              </tr>
              <tr>
                <th scope="row">Giới tính:</th>
                <td  id="d-user_gender"></td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td  id="d-user_email"></td>
              </tr>
              <tr>
                <th scope="row">Số căn cước công dân:</th>
                <td  id="d-user_idNumber"></td>
              </tr>
              <tr>
                <th scope="row">Địa chỉ:</th>
                <td  id="d-user_placeAddress"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal update-->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Nhập nhật thông tin sinh viên</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/admin/user/update" method="POST" name="frmCreate" id="frmCreate" novalidate="novalidate">
          <div class="modal-body">
            <div class="mb-3">
              <label for="user_id">ID</label>
                <input type="text" class="form-control" id="u-user_id" name="user_id" readonly />
            </div>
            <div class="mb-3">
              <label for="user_name">Tên học viên</label>
                <input type="text" class="form-control" id="u-user_name" name="user_name" />
            </div>
            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label for="user_email">Email</label>
                  <input type="text" class="form-control" id="u-user_email" name="user_email" />
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label for="user_phoneNumber">Số điện thoại</label>
                  <input type="text" class="form-control" id="u-user_phoneNumber" name="user_phoneNumber">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label for="user_birth">Ngày sinh</label>
                  <input type="text" class="form-control" id="u-user_birth" name="user_birth">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label for="user_gender">Giới tính</label>
                  <select class="form-control" id="u-user_gender" name="user_gender"> 
                    <option value = "1">Nam</option>
                    <option value = "0">Nữ</option>
                  </select>
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label for="user_idNumber">Số căn cước công dân</label>
                  <input type="text" class="form-control" id="u-user_idNumber" name="user_idNumber">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="user_placeAddress">Địa chỉ</label>
              <input type="text" class="form-control" id="u-user_placeAddress" name="user_placeAddress" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" name="btnSave">Cập nhật thông tin</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- script form vendor -->
  <%- include('../../layouts/scripts.ejs'); %>
  <!-- Page's scripts -->
  
  <script>
    $(document).ready(function(){
      var userTable = $("#userTable").DataTable({
        sort:false,
      })

      $("#u-user_birth" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        yearRange: "1960:2021",
        defaultDate: "03/09/1999"
      });
      var user_tempList=[],
        account_tempList=[];
      let getdata = async function(id) {
        $.ajax({
          url:'/admin/user/get-data',
          method:'post',
          data:{
            id
          },
          success: function(res){
            if (typeof user_tempList[id] == 'undefined'){
              user_tempList[id] = res.user_info;
              account_tempList[id] = res.account_info;
              console.log(user_tempList[id])
              console.log(account_tempList[id])
            }
          }
        })
      }
      //Xem thông tin chi tiết sinh viên
      $(".fa-external-link-alt").on('click', async function(event){
        event.preventDefault();
        let id = $(this).attr('user_id');
        await getdata(id);
        for (const [key, value] of Object.entries(user_tempList[id])) {
          if (key == "user_gender"){
            $('#d-'+key).text((value == 1)? "Nam": "Nữ");
          }else 
            $('#d-'+key).text(value);
        }
        for (const [key, value] of Object.entries(account_tempList[id])) {
          $('#d-'+key).text(value);
        }
        $("#detailModal").modal('show');
      })
      //Cập nhật thông tin sinh viên 
      $(".fa-edit").on('click',function(event){
        event.preventDefault;
        let id = $(this).attr('user_id');
        $.ajax({
          url:'/admin/user/get-data',
          method:'post',
          data:{
            id
          },
          success: function(res){
            if (typeof user_tempList[id] == 'undefined'){
              user_tempList[id] = res.user_info;
              account_tempList[id] = res.account_info;
            }
            for (const [key, value] of Object.entries(user_tempList[id])) {
              if (key == "user_gender"){
                $("#u-user_gender option[value="+value+"]").attr('selected','selected');
              }else 
                $('#u-'+key).val(value);
            }
            $("#updateModal").modal('show');
          }
        })
      })
    });
  </script>
</body>

</html>