<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../layouts/styles'); %>
</head>

<body>
  <%- include('../../partials/header') %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%- include('../partials/sidebar.ejs'); %>
      </div>
      <div class="col">
        <div class="row">
          <%- include('../../partials/alert.ejs') %>
        </div>
        <span class='h3'> Danh sách loại chứng chỉ - </span>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal"> Thêm </button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Mã tên chứng chỉ</th>
              <th scope="col">Tên chứng chỉ</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <% i=1; %>
            <% data.forEach(function(elt){ %>
              <tr>
                <th scope="row"><%= i++; %></th>
                <td><%= elt.cn_id; %></td>
                <td><%= elt.cn_name; %></td>
                <td>
                  <button type="button" cn_id="<%= elt.cn_id; %>" cn_name="<%= elt.cn_name; %>" class="btn btn-warning btn-update" data-bs-toggle="modal" data-bs-target="#updateModal">Sửa</button>
                  <a class="btn btn-danger" href="/issuer/certificate/certname/remove?id=<%= elt.cn_id; %>">Xoá</a>  
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <!-- Thêm mới -->
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Thêm tên chứng chỉ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/issuer/certificate/certname/create" method="POST">
          <div class="modal-body">
          <div class="mb-3 row">
            <input type="text" class="form-control" id="cn_name" name="cn_name" placeholder="Nhập tên chứng chỉ"/>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Sửa -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Sửa tên chứng chỉ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/issuer/certificate/certname/update" method="POST" >
          <div class="modal-body">
          <div class="mb-3 row">
            <input type="hidden" class="form-control" id="upd_cn_id" name="cn_id" value=""/>
            <input type="text" class="form-control" id="upd_cn_name" name="cn_name" value=""/>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../layouts/scripts.ejs'); %>
  <script type="text/javascript">
    $(window).on('load', function() {
        $('#msg-modal').modal('show');
        $('#alert-modal').modal('show');
        $('#error-modal').modal('show');

        $('.btn-update').on('click',function(){
          $('#upd_cn_id').val($(this).attr('cn_id')) ;
          $('#upd_cn_name').val($(this).attr('cn_name')) ;
        })
    });
  </script>
</body>

</html>