<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <%- include('./layouts/styles.ejs')%>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/alert.ejs') %>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="mp-3">
          <select id="school_name" class="form-control">
            <option value=''>Chọn nơi cấp phát chứng chỉ</option>
            <% schoolList.forEach(function(school){ %>
              <option value='<%= school.school_id %>'><%= school.school_name %></option>
            <%})%>
          </select>
          <select id="cert_kind" class="form-control" hidden>
          </select>
          <select id="cert_name" class="form-control" hidden>
          </select>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>

  <%- include('./layouts/scripts.ejs') %>
  <script>
    $(document).ready(function(){
      $('#school_name').on('click',function(){
        
      })
    })
  </script>
</body>
</html>