<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <style>
    .fa-external-link-alt:hover {
     color: #0d6efd;
     cursor: pointer;
    }
    /* #divSreach {
      border-radius: 0 0 5px 5px;
      background-color: rgba(108, 117, 125, 0.01);
    } */
  </style>
  <%- include('./layouts/styles.ejs')%>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/alert.ejs') %>

  <div id="main-content" class="container-fluid bg-light">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10" id="divSreach">
        <div class="bg-white mt-3 card">
          <form method="POST" action="/tra-cuu" id="frmSearch" class="col-md-8 mx-auto">
            <div class="row g-3 pt-4 mb-1">
              <div class="col-2 text-start" style="min-width: 200px;"> <label for="school_id" class="col-form-label"><i>Nơi phát hành:</i></label></div>
              <div class="col text-start">
                <select id="school_id" class="form-control">
                  <option value='' disabled selected hidden>Chọn nơi cấp phát chứng chỉ</option>
                  <% schoolList.forEach(function(school){ %>
                    <option value='<%= school.school_id %>'><%= school.school_name %></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row g-3 mb-1">
              <div class="col-2 text-start" style="min-width: 200px;"> <label for="ck_id" class="col-form-label"><i>Loại chứng chỉ:</i></label></div>
              <div class="col text-start">
                <select id="ck_id" class="form-control">
                  <option value='' disabled selected hidden>Chọn loại chứng chỉ</option>
                </select>
              </div>
            </div>
            <div class="row g-3 mb-1">
              <div class="col-2 text-start" style="min-width: 200px;"> <label for="cn_id" class="col-form-label"><i>Tên chứng chỉ:</i></label></div>
              <div class="col text-start">
                <select id="cn_id" name="cn_id" class="form-control">
                  <option value='' class="text-secondary" disabled selected hidden>Chọn tên chứng chỉ</option>
                </select>
              </div>
            </div>
            <div class="row g-1 mb-1">
              <div class="col text-start">
                <input type="text" class="form-control" name="user_name" placeholder="Họ tên người nhận"/>
              </div>
              <div class="col-3 text-start">
                <input type="text" class="form-control" name="number" placeholder="Số chứng chỉ"/>
              </div>
              <div class="col-3 text-start">
                <input type="text" class="form-control" name="regno" placeholder="số vào sổ"/>
              </div>
            </div>
            <div class="form-text text-center mt-2">
              <span style="color:red">*</span><i> Điều kiện tìm kiếm: Họ tên, số hiệu, số vào sổ không phân biệt ký tự HOA, thường.</i>
            </div>
      
            <div class="col-auto text-end mt-3">
              <button type="reset" id="btn-reset" class="btn btn-secondary btn-sm"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span> Xoá <i class="fas fa-undo"></i> </button>
              <button type="submit" id="btn-submit" class="btn btn-primary btn-sm"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span> Tìm kiếm <i class="fas fa-search"></i></button>
            </div>
            <span id="count"></span>
          </form>
          <div class="table-responsive mx-5">
            <table class="table table-hover invisible" id="search_table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tên văn bằng</th>
                  <th scope="col">Họ và tên</th>
                  <th scope="col">Ngày sinh</th>
                  <th scope="col">Số hiệu</th>
                  <th scope="col">Số vào sổ</th>
                  <th scope="col" style="width: 45px;"></th>
                </tr>
              </thead>
              <tbody id="certList">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('./cert_template.ejs') %>
  
  <%- include('./layouts/scripts.ejs') %>
  <script>
    $(document).ready(function(){
      $("#divSreach").height($('body').height() - $("#header").height());
      var kindList =[], nameList=[] ;
      $( "#school_id" ).change(function() {
        $( "#school_id option:selected" ).each(async function(event) {
          event.preventDefault;;
          var school_id = $(this).attr('value');
          if (school_id != '') {
            await $.ajax({
              url:'/get-certkind',
              method:'post',
              data:{
                school_id
              },
              success: function(res) {
                kindList[school_id] = res.kindList; 
              }
            })
            html = `<option value='' disabled selected hidden>Chọn loại chứng chỉ</option>`;
            kindList[school_id].forEach(function(row){
              html += `<option value='${row.ck_id}'>${row.ck_name}</option>`
            })
            $('#ck_id').html(html);
            $('#cn_id').html(`<option value=''>Chọn tên chứng chỉ</option>`);
          }else {
            
          }
        });
      }).trigger( "change" );
      $( "#ck_id" ).change(function() {
        $( "#ck_id option:selected" ).each(async function(event) {
          event.preventDefault;;
          var ck_id = $(this).attr('value');
          if (ck_id != '') {
            await $.ajax({
              url:'/get-certName',
              method:'post',
              data:{
                ck_id
              },
              success: function(res) {
                nameList[ck_id] = res.nameList; 
              }
            })
            html = `<option value='' disabled selected hidden>Chọn tên chứng chỉ</option>`;
            nameList[ck_id].forEach(function(row){
              html += `<option value='${row.cn_id}'>${row.cn_name}</option>`
            })
            $('#cn_id').html(html);
            $('#ck_id').html();
          }else {
            $('#cn_id').html();
          }
          
        });
      }).trigger( "change" );
      $("#frmSearch").submit(async function (event){
        $(".spinner-border").attr('hidden',false).parent().attr('disabled',true);
        event.preventDefault();
        await $.ajax({
          method: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function(res){
            var certList= res.certList,
            html = ``,i =1;
            $("#count").text('Có '+certList.length+' kết quả phù hợp:')
            certList.forEach(function(elt){
              html+= `<tr>
                <th scope="row">${i++}</th>
                <td>${elt['cn_name']}</td>
                <td>${elt['user_birth']}</td>
                <td>${elt['user_name']}</td>
                <td>${elt['number']}</td>
                <td>${elt['regno']}</td>
                <td><i class="fnDetail fas fa-external-link-alt" number="${elt['number']}" ipfs="${elt['ipfs_hash']}" ></i><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></td>
              </tr>`
            })
            $('#certList').html(html).fadeIn(2000);
            $('#certList').removeClass('invisible');
            $(".spinner-border").attr('hidden',true).parent().attr('disabled',false)
            $("#search_table").removeClass('invisible');
          }
        })
      })
    });
    async function getAuth(e, cert_number){
      e.preventDefault;
      var hash;
      await $.ajax({
        method:"POST",
        url:"/verification",
        data:{
          number: cert_number
        },
        success: function (res){
          return hash= res.hash;
        }
      })
      return hash
    }
    async function check_hash(e, hash){
      let status;
      e.preventDefault;
      await $.ajax({
        method:"POST",
        url:"/check-hash",
        data:{
          hash: hash,
        },
        success: function (res){
          status= (res.status)
        }
      })
      return status;
    }
    $(document).on('click', '.fnDetail',async function(e){
      $(this).parent('td').children(".spinner-border").attr('hidden',false);
      event.preventDefault();
      var ipfs = $(this).attr('ipfs')
      await $.ajax({
        method:"POST",
        url: "/get-detai-by-ipfs",
        data: {
          ipfs
        },
        success: function(res){
          if (typeof res.cert_info == 'undefined'){
            alert('Vui lòng thử lại!');
          }else{
            cert_info = res.cert_info
            for (const [key, value] of Object.entries(cert_info)) {
              $(`#c-${key}`).text(`${value}`)
            }
            $('#certModal').modal('show');
          } 
        }
      })
      var hash = await getAuth(e,$(this).attr("number"));
      $("#verification_result").html(`
        hash: <span> ${hash} </span><br />
      `)
      let certCheck = await check_hash(e, hash)
      console.log ("certCheck: "+ certCheck );
      if (certCheck == 1){
        $("#verification_result").append(`
          <span class="text-success fw-bold" title="Giá trị băm từ tệp thi được public trên ipfs">Văn bằng/chứng chỉ toàn vẹn<span>
        `);
      }else if (certCheck == 0){
        $("#verification_result").append(`
          <span class="text-warning fw-bold" title="Giá trị băm từ tệp thi được public trên ipfs">Văn bằng/chứng chỉ đã được thu hồi<span>
        `);
      }else{
        $("#verification_result").append(`
          <span class="text-danger fw-bold" title="Tính xác thưc được xác định bằng so giá trị hash của văn bằng trên blockchain">Văn bằng/chứng chỉ không toàn vẹn<span>
        `);
      }

      $(this).parent('td').children(".spinner-border").attr('hidden',true);
    });
  </script>
</body>
</html>