<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('../layouts/styles') %>
  <style>
    .fa-arrow-right:hover {
      cursor: pointer;
      color: #17a2b8;
    }
     #cert_card{
    position: relative; width: 40vw; padding: 5px; height: fit-content;
  }
  #cert_card img{
    width: 100%;position: relative;margin: auto;
  }
  #cert_template {
    position: absolute;
    top: 4vw;  
    left: 0; 
    right: 0; 
    bottom: 0; 
    font-size: 1.1vw;
  }
  #cert_template span{
    color: orange;
  }
  #cert_template .text-center{
    padding-bottom: 0.2vw!important;

  }
  .font-header {
    font-family: 'OpenSans-SemiBold';
  }
  .cert_title {
    font-size: 1.5vw;
    font-family: UVNCoDien;
    color: #3ca6ba!important;
  }
  </style>
</head>
<body class="bg-light">
  <%- include('../partials/header') %>
  <%- include('../partials/alert') %>

  <div class="container-fluid">
    <div class="row mt-3 px-5">
      <div class="col">
        <div class="card">
          <h5 class="ps-3 mt-2">Danh sách văn bằng chứng chỉ</h5>
          <div class="card-body table-responsive">
            <table class="table" id="dataTable">
              <thead>
                <tr>
                  <th scope="col">Số hiệu</th>
                  <th scope="col">Số vào sổ</th>
                  <th scope="col">Loại</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Nơi phát hành</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col" style="width: 18px;"></th>
                </tr>
              </thead>
              <tbody>
                <% certList.forEach(function(elt) {%>
                  <tr>
                    <th scope="row"><%= elt.number %></th>
                    <th><%= elt.regno %></th>
                    <td><%= elt.ck_name %></td>
                    <td><%= elt.cn_name %></td>
                    <td><%= elt.school_name %></td>
                    <td><%= moment(elt.createTime).format("DD/MM/YYYY") %></td>
                    <td>
                      <i class="fas fa-arrow-right" number="<%= elt.number %>"></i>
                    </td>
                  </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: fit-content;">
        <div class="card" id="cert_card">
          <img src="/certificate-bg-2.png" />
          <div class="modal-body"  id="cert_template" >
            <div class="" id="">
              <div class=" text-center" >
                Thông tin về
              </div>
              <div class="text-center" >
                <span id="c-cert_name" class="cert_title">
                  <span class="placeholder-glow"> <span class="placeholder col-10"></span> </span>
                </span>
              </div>
              <div class="text-center">
                của
              </div>
              <div class=" text-center">
                <span id="c-user_name"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>
              </div>
              <div class=" text-center">
                Giới tính: <span id="c-user_gender"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>
                -Ngày sinh: <span id="c-user_dayofbirth"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>
                -Nơi sinh: <span id="c-user_placeofbirth"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>
              </div>
              <div class=" text-center">
                Ngày ký: <span id="c-signday"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>
              </div>
              <div class=" text-center">
                Số hiệu: <span id="c-number"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>-Số vào sổ: <span id="c-regno"><span class="placeholder-glow"> <span class="placeholder col-1"></span></span></span>
              </div>
              <div class=" text-center">
                <img id="qrImg" src="" style="width: 7vw; left: 6vw; bottom: 2.6vw; position: absolute;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <%- include('../layouts/scripts') %>
  <script type="text/javascript" >
    $(document).ready(function() {
      $('#dataTable').DataTable({
        // filter: false,
        sort:false,
        info: false,
      });
      $(document).on("click",".fa-arrow-right",function(e){
        console.log('fa-edit')
        e.preventDefault;
        var number = $(this).attr('number');
        $.ajax({
          method: "POST",
          url: "/cert-detail",
          data:{
            number: number
          }, success: function(res){
            var cert_info = res.cert_info
            console.log(cert_info)
            for (const [key, value] of Object.entries(cert_info)) {
              $(`#c-${key}`).text(`${value}`)
            } 
            $("#qrImg").attr("src", "/qrCode/cert_"+number+".png")
          }
        })
      })
    });
  </script>
</body>
</html>