<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title + " - " + page; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../../layouts/styles.ejs'); %>

</head>

<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 px-0">
        <%- include('../../partials/sidebar.ejs'); %>
      </div>
      <div class="col-md-10 px-0">
        <div class="container">
          <!-- main content -->
          <h3 class = "pt-3">Danh sách trường học</h3>
          <hr >
          <div class="table-responsive">
            <table class="table">
              <caption>List of accounts</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Loại tài khoản</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Hành động</th>
                </tr>
              </thead>
              <tbody>
                <% let i=1 ;%>
                  <% account_list.forEach(function(account){ %>
                    <tr>
                      <th scope="row">
                        <%= i++; %>
                      </th>
                      <td>
                        <%= account.account_address %>
                        
                      </td>
                      <td>
                        <%= account.account_type %>
                      </td>
                      <td>
                        <%= account.account_status %>
                      </td>
                      <td>
                        <!-- Action -->
                        <% if (account.account_type !== 'admin' ) {%>
              
                          <a href="/admin/account/detail-<%= account.account_type %>?id=<%= account.student_id %><%= account.issuer_id %>" class="btn btn-primary">
                            <span data-feather="detail">Chi tiết</span>
                          </a>
                          <% } %>
                        <a href="/admin/account/update?account_address=<%= account.account_address %>" class="btn btn-warning">
                          <span data-feather="update">Sửa</span>
                        </a>
                        <a href="/admin/account/delete?account_address=<%= account.account_address %>" class="btn btn-danger">
                          <span data-feather="delete">Xóa</span>
                        </a>
                      </td>
                    </tr>
                    <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- script form vendor -->
  <%- include('../../layouts/scripts.ejs'); %>
  <!-- Page's scripts -->
  
  <script>
  </script>
</body>

</html>