<div class="flex-shrink-0 w-100 h-100"> 
  <ul style="list-style-type: none; padding: 0;" class= "mt-3 fw-bold">
    <li class="mb-1">
      <a href="/school/dashboard" style="text-decoration: none; color:black;" class="sidebar-item text-start p-2 ps-3 <%= (page == "Dashboard")? "sidebar-item-active": "" %>">
        <i class="fas fa-tachometer-alt" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Dashboard</span>
      </a>
    </li>
    <li class="mb-1">
      <a href="/school/issuer" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "Issuer")? "sidebar-item-active": "" %>">
        <i class="fas fa-user" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Tài khoản nhập</span>
      </a>
    </li>
    <li class="mb-1">
      <a href="/school/cert" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "Certificate")? "sidebar-item-active": "" %>">
        <i class="fas fa-file-alt" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Chứng chỉ</span>
      </a>
    </li>
    <li class="mb-1">
      <a href="/school/cert/certkind" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "Certkind")? "sidebar-item-active": "" %>">
        <i class="fas fa-list" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Loại chứng chỉ</span>
      </a>
    </li>
    <li class="mb-1">
      <a href="/school/cert/certname" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "Certname")? "sidebar-item-active": "" %>">
        <i class="fas fa-font" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Tên chứng chỉ</span>
      </a>
    </li>
  </ul>
</div>