<div class="flex-shrink-0 bg-light bg-gradient ps-3 w-100 sidebar shadow">
  <a href="/school" class="d-flex px-2 pt-3 my-3 link-dark text-decoration-none">
    <b>HOME</b>
  </a>
  <hr>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse" data-bs-target="#degree-collapse" aria-expanded="<%= (page == "Degree")? "true":"flase" %>">
        Issuer
      </button>
      <div class="collapse <%= (page == "Degree")? "show": "" %>" id="degree-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/school/issuer" class="link-dark rounded">Danh sách</a></li>
          <li><a href="/school/degree/create" class="link-dark rounded">Thêm mới</a></li>
          <li><a href="/school/degree/namelist" class="link-dark rounded">Tên văn bằng</a></li>
          <li><a href="/school/degree/kindlist" class="link-dark rounded">Loại văn bằng</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse" data-bs-target="#degree-collapse" aria-expanded="<%= (page == "Degree")? "true":"flase" %>">
        Văn bằng
      </button>
      <div class="collapse <%= (page == "Degree")? "show": "" %>" id="degree-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/school/degree/" class="link-dark rounded">Danh sách</a></li>
          <li><a href="/school/degree/create" class="link-dark rounded">Thêm mới</a></li>
          <li><a href="/school/degree/namelist" class="link-dark rounded">Tên văn bằng</a></li>
          <li><a href="/school/degree/kindlist" class="link-dark rounded">Loại văn bằng</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse" data-bs-target="#certificate-collapse" aria-expanded="<%= (page == "Certificate")? "true":"flase" %>">
        Chứng chỉ
      </button>
      <div class="collapse <%= (page == "Certificate")? "show": "" %>" id="certificate-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/school/certificate/" class="link-dark rounded">Danh sách</a></li>
          <li><a href="/school/certificate/create" class="link-dark rounded">Thêm mới</a></li>
          <li><a href="/school/certificate/certname" class="link-dark rounded">Tên chứng chỉ</a></li>
          <li><a href="/school/certificate/certkind" class="link-dark rounded">Loại chứng chỉ</a></li>
        </ul>
      </div>
    </li>
    <br>
  </ul>
</div>