<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title + " - " + page ; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../../layouts/styles.ejs'); %>
</head>

<body>
  <%- include('../../partials/navbar.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 px-0">
        <%- include('../../partials/sidebar.ejs'); %>
      </div>
      <div class="col-md-10 px-0">
        <div class="container">
        <!-- main content -->
        <h3 class = "pt-3">Chi tiết sinh viên</h3>
        <hr >
          <h4 class="border-start border-3 ps-3">Tài khoản</h4>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row" class="w-25">Địa chỉ</th>
                <td><%= studentInfo.account_address; %></td>
              </tr>
              <tr>
                <th scope="row">Loại tài khoản</th>
                <td><%= studentInfo.account_type; %></td>
              </tr>
              <tr>
                <th scope="row">Trạng thái</th>
                <td><%= studentInfo.account_status; %></td>
              </tr>
            </tbody>
          </table>
          <h4 class="border-start border-3 ps-3">Thông tin học viên</h4>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row" class="w-25">ID</th>
                <td><%= studentInfo.student_id; %></td>
              </tr>
              <tr>
                <th scope="row">Loại tài khoản</th>
                <td><%= studentInfo.student_name; %></td>
              </tr>
              <tr>
                <th scope="row">Ngày sinh</th>
                <td><%= moment(studentInfo.student_birth).format("DD-MM-YYYY"); %></td>
              </tr>
              <tr>
                <th scope="row">Số điện thoại</th>
                <td><%= studentInfo.student_phone; %></td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td><%= studentInfo.student_email; %></td>
              </tr>
              <tr>
                <th scope="row">Địa chỉ</th>
                <td><%= studentInfo.student_address; %></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <!-- script form vendor -->
  <%- include('../../layouts/scripts.ejs'); %>

    <!-- Page's scripts -->

</body>

</html>