<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title; %>
  </title>
  <!-- styles from vendors  -->
  <%- include('../../layouts/styles.ejs'); %>
  
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%- include('../../partials/sidebar.ejs'); %>
      </div>
      <div class="col-md-10">
        <!-- main content -->
        <h3 class = "pt-3">Chỉnh sửa thông học viên - <%= student.student_id %></h3>
        <hr >
      <div class="col-10">
        <form action="/admin/student/update" method="POST" name="frmCreate" id="frmCreate" novalidate="novalidate">
          <input type="hidden" name="student_id" value="<%= student.student_id %>">
          <div class="mb-3 row">
            <label class="col-sm-2" for="student_id">ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="student_id" value="<%= student.student_id %>" disabled readonly />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2" for="student_name">Tên học viên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="student_name" name="student_name" value="<%= student.student_name %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2" for="student_birth">Ngày sinh</label>
            <div class="col-sm-10">
              
              <input type="text" class="form-control" id="student_birth" name="student_birth" value="<%= moment(student.student_birth).format('MM-DD-YYYY'); %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2" for="student_address">Địa chỉ</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="student_address" name="student_address" value="<%= student.student_address %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2" for="student_phone">Số điện thoại</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="student_phone" name="student_phone" value="<%= student.student_phone %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2" for="student_email">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="student_email" name="student_email" value="<%= student.student_email %>">
            </div> 
          </div>
          <button class="btn btn-primary" name="btnSave">Cập nhật thông tin</button>
        </form>
      </div>
    </div>
  </div>

  <!-- script form vendor -->
  <%- include('../../layouts/scripts.ejs'); %>

    <!-- Page's scripts -->
    <script>
     $('#student_birth').datepicker(
      {
        showButtonPanel: true,   
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth:true,
        yearRange:"1950:"  
      }
    );
    </script>
</body>

</html>